*
	box-sizing: border-box;
h1, h2, p, div, span, a
	margin 0
	padding 0
body
	background-color: transparent;
	background-image: url(../img/background.jpg);
	background-size: cover 
	padding 30px 60px
	font-family: "Trebuchet MS"
	display flex
	align-items center
	height 100vh
	width 100vw
	div
		margin auto
@font-face {
	font-family: 'Trebuchet MS';
	src: url('../fonts/TrebuchetMS-Bold.eot');
	src: local('Trebuchet MS Bold'), local('TrebuchetMS-Bold'),
		url('../fonts/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TrebuchetMS-Bold.woff') format('woff'),
		url('../fonts/TrebuchetMS-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Trebuchet MS';
	src: url('../fonts/TrebuchetMS.eot');
	src: local('Trebuchet MS'), local('TrebuchetMS'),
		url('../fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TrebuchetMS.woff') format('woff'),
		url('../fonts/TrebuchetMS.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Exo2.0';
	src: url('../fonts/Exo2.0-Thin.otf');
	src: local('Exo2.0-Thin'), local('Exo2.0-Thin'),
		url('../fonts/Exo2.0-Thin.otf') format('opentype');
	font-weight: thin;
	font-style: normal;
}
p 
	color: #666666 	
	font-size 16px
h1
	font-family "Exo2.0"
	font-size 36px
	color white
	text-align center
	margin-bottom 21px
h2
	font-weight bold
	font-size 48px
	color black
	margin-top 17px
	line-height 0.7
	margin-bottom 20px
h2 span
	font-size 24px
.cat__wrapper 
	display flex
	justify-content space-between
	gap 6.5vw
	.cat__block
		flex 0 0 25%
.cat-food
	width 320px
	max-width 320px
	margin auto
	height 480px
	&__block
		padding-left 45px
		padding-top 17px
		background-color white
		background-size auto
		height 480px
		position relative
		border-radius 8px
		border-width: 4px
		border-color: rgb(22, 152, 217)
		border-style: solid
		&::before
			content ' '
			display block
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			background-image url(../img/photo.png)
			background-repeat no-repeat
			background-position left -28px bottom -92px
	&__block.selected
			border-color #d91667
	&__toptext
		font-weight normal
	&__details
		font-size 14px
		line-height 1.14
	&__size
		display flex
		align-items center
		justify-content center
		border-radius 50%
		background-color rgb(22, 152, 217) 
		width 80px
		height 80px
		position absolute
		bottom 10px
		right 10px
		padding-top 10px
		p 
			font-size 44px
			line-height: 21px
			text-align: center		
			color white
			span
				font-size 21px
	&__size--hover
			background-color #2ea8e6
	&__bottomtext
		color white
		font-size 13px
		text-align center
		margin-top 15px
	.cat-food__bottomtext.disabled
			display none
	&__button
			color rgb(22, 152, 217) 
			font-weight bold
			span
				text-decoration underline
				text-decoration-color rgb(22, 152, 217) 
				text-decoration-style dashed
			&--hover
				color #2ea8e6
	&__bottomtext.disabled
		color #ffff66	
   .cat-food.disabled
		.cat-food__toptext
			filter opacity(25%)
		.cat-food__details
			filter opacity(25%)
		.cat-food__size
			background-color #b3b3b3
		.cat-food__block
			border-color #b3b3b3
		h2
			filter opacity(25%)
		.cat-food__block::before
			content ' '
			display block
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			opacity 0.5
			background-image url(../img/photo.png)
			background-repeat no-repeat
			background-position left -28px bottom -92px
		.cat-food__bottomtext
			display none
		.cat-food__bottomtext.disabled
			display block
	.cat-food.selected
		.cat-food__size
			background-color #d91667
			&:hover
				background-color #d91667

.hidden
	display none

@import media

/*@import poligon*/


